<form>
    <textarea name="inputTextBox" 
    [formControl]="formText"
    class="post-area"
    >
    </textarea>
    <div class="buttons-and-length-container">
        <div class="button-container">
            <button [disabled]="this.loading" type="submit" (click)="onSubmit()">
                <img class="button-graphic" src="assets/svg/submit.svg" alt="">
                <span class="button-text">Submit</span>
            </button>
            <button [disabled]="this.loading" class="cancel" (click)="cancelButton()">
                <img class="button-graphic" src="assets/svg/cancel.svg" alt="">
                <span class="button-text">Cancel</span>
            </button>
        </div>
        <app-character-count *ngIf="!phone" (withinLengthEmitter)="updateLengthConstraint($event)" [maxLength]="MAX_LENGTH" [content]="currentText"></app-character-count>
    </div>
</form>