<div class="comment_and_children">
    <div class="comment">
        <div class="user-info-bar">
            <span class="poster-name">{{commentData.posterName}}</span>
            <span> | </span>
            <span class="time">{{commentData.timeString}}</span>
        </div>
        <div class="content-and-votes">
            <ng-container *ngIf="!this.deleted">
                <app-comment-upvote 
                    [commentID]="this.commentData.commentID"
                    [(vote)]="this.commentData.userVote!"
                    [(voteTotal)]="this.commentData.voteTotal">
                </app-comment-upvote>
            </ng-container>
            <div class="content">
                {{this.commentData.content}}
            </div>
        </div>
        <ng-container *ngIf="!this.deleted">
            <div class="actionsBar">
                <button class="reply" (click)="replyButton()">
                    <img class="button-graphic" src="assets/svg/comment.svg" alt="">
                    <span>Reply</span>
                </button>
            </div>
        </ng-container>
        <ng-container *ngIf="this.childrenExist && !this.expand">
            <span class="load-children" (click)="expandButton()">Load {{this.childrenCount}} Replies</span>
        </ng-container>
    </div>
    <ng-container *ngIf="expand">
        <div class="children-and-vl-container">
            <div class="vertical-line" (click)="expandButton()"></div>
            <div class="children">
                <ng-container replyDialog *ngIf="this.replyDialog" class="reply-container">
                    <app-reply-box [commentID]="this.commentData.commentID"
                                   [postID]="this.postID!"
                                   (deleteDialog)="cancelButton()"
                                   (newComment)="addComment($event)"
                    ></app-reply-box>
                </ng-container>
                <ul *ngFor="let comment of this.childComments">
                    <li>
                        <ng-container *appCommentType="comment"></ng-container>
                    </li>
                </ul>
            </div>
        </div>
    </ng-container>
</div>