<div  *ngIf="!phone" class="upvote-container">
    <img [ngClass]="upvoteHighlight ? 
    'highlighted-upvote' : 'unhighlighted-upvote'" 
    (click) = "upvoteButton()" src="assets/svg/down.svg"/>
    <div [ngClass]= "voteTotal >= 0 ? 
    'upvoted-total' : 'downvoted-total'" >
        {{voteTotal}}
    </div>
    <img [ngClass]= "downvoteHighlight ? 
    'highlighted-downvote' : 'unhighlighted-downvote'" 
    (click) = "downvoteButton()" src="assets/svg/down.svg"/>
</div>

<div  *ngIf="phone" class="upvote-container">
    <img [ngClass]="upvoteHighlight ? 
    'highlighted-upvote-mobile' : 'unhighlighted-upvote-mobile'" 
    (click) = "upvoteButton()" src="assets/svg/down.svg"/>
    <div [ngClass]= "voteTotal >= 0 ? 
    'upvoted-total' : 'downvoted-total'" >
        {{voteTotal}}
    </div>
    <img [ngClass]= "downvoteHighlight ? 
    'highlighted-downvote-mobile' : 'unhighlighted-downvote-mobile'" 
    (click) = "downvoteButton()" src="assets/svg/down.svg"/>
</div>