.reply-container{
    margin-left: 15px;
    margin-right: 8px;
}

.post-reply{
    width: calc(100% - 2em);
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.comment-area{
    width: 100%;
    min-height: 100px;
}

.buttons-and-length-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

button{
    border: none;
    background-color: var(--primary-background);
    border-radius: 10%;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    color: var(--light-text);
    font-weight: 700;
}

button:hover{
    color: var(--active);
    background-color: transparent;
    filter: invert(32%) sepia(73%) saturate(1580%) hue-rotate(335deg) brightness(102%) contrast(93%);
}

.button-graphic{
    padding-right: 3px;
    height: 1em;
}

.button-container{
    display: flex;
    flex-direction: row;
    padding-left: 0px;
}