.votes{
    background-color: var(--secondary-background);
    min-width: 41.6px;
    height: 41.6px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1em;
    color: var(--primary-background);
}

.content{
    padding-top: 6px;
}